<html>
    <body background-image: url(/app/assets/images/gravel.png)>

        <h2>This CTF Practice Platform is developed by :<br><br>
        Aditi Gupta (16CO202) and Adwaith Gautham (16CO203)<br>Third Year, B.Tech., Department of Computer Science and Engineering<br>NITK Surathkal <br><br>as a part of coursework for CO303: Database Management Systems Lab.</h2>
    </body>
</html>