
<html>
    <head>
        <title>What is a CTF?</title>
    </head>
    <body>
        <p>It is a success!! This page is working! I finally understood rails!!!</p>
        <h1>On a serious note, we have to write something in this page!</h1>
        <h1>It's important!</h1>
    </body>
</html>