
<html>
    <head>
        <title>What is a CTF?</title>
    </head>
    <body>
        <h1>What is a CTF?</h1>
        <h3>CTF (Capture The Flag) is a competition where one solves various challenges from different fields of Computer Security. The competition can happen in 2 styles.
        <br><br>
        <b>Jeopardy:</b> In this CTF style, there will be several challenges under each category and you solve them to get points. These are the popular categories: 
<br><br>Web Vulnerabilities and Exploitation
<br>Reverse Engineering
<br>Binary Exploitation
<br>Cryptography
<br>Digital Forensics
<br>Miscellaneous 

<br><br>  <b>Attack-Defense:</b> In this CTF style, there will be 2 teams - the Red Team and Blue Team. A huge System consisting of various websites, softwares, networks will be given to both teams. The Red Team should attack the System. More number of successful attacks, more the points they get. On the other hand, the Blue Team is responsible of defending the attacks. They have  to patch up the System in order to get more points. 

 
        </h3>

        <h1>What do the categories mean?</h1>
        <h3>
            <b> Web Vulnerabilities and Exploitation:</b> Explores different Website / backend related vulnerabilities. A few examples are Cross Site Scripting, HTML Injection, Javascript Injection, Cross-site Request Forgery, SQL Injection, Cookie Hijacking, etc., 
<br><br>
<b> Reverse Engineering:</b> This involves challenges where one has to extract the algorithm or the source code of the complete program from a given executable / binary. Example: A malware sample is identified and it is using a specific Domain-Generation Algorithm. Given the sample, we have to find out what that algorithm is. 
<br><br>
<b> Binary Exploitation:</b> This category involves challenges related Software Security. Different vulnerabilities and exploit methods are explored. Example: Consider the Buffer Overflow Vulnerability. There are different exploit methods like Shellcode Injection, Ret2Libc, Return Oriented Programming, 2-stage Shellcode etc., 
<br><br>
<b> Cryptography:</b>There are different encryption and decryption algorithms, hashing algorithms, key-exchange algorithms. There are many weaknesses in many of the currently used algorithms. So, challenges generally focus on the weakness of a cryptographic algorithm and the method used to exploit it. 
<br><br>
<b>Digital Forensics:</b> Challenges of this category will be related to the work done by an Incident Response Team. Example: Suppose our NITK-NET got affected by a malware and the whole network is down. All that we have is the .pcap file(Network Capture). We have to identify and extract the malware, clean and patch our systems. 
<br><br>
<b> Miscellaneous: </b>There could be programming challenges, Combination of a few of the above categories, challenges from Steganography etc., 
<br><br>
</h3>
    </body>
</html>